.video-player {
    display: flex;
    flex-flow: column wrap;
    height: 600px;
    width: 800px;
    margin: 7px 6px;
    background-color: black;
    box-shadow: 0 0 35px rgba(0, 0, 0, 1);
}
.video-container {
    flex-grow: 1;
}
.control-panel {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}
.control-panel .control-button {
    width: 35px;
    height: 35px;
    margin-right: 2px;
    outline: black;
    background: transparent;
    border-style: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.viewing-panel {
    display: flex;
    flex-grow: 1;
    align-items: center;
    color: white;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
}
.viewing-panel .viewing-progressbar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 0 10px;
    height: 5px;
    background-color: grey;
    border-radius: 3px;
}
.viewing-panel .viewing-progressbar .progress-bar{
    border-radius: inherit;
    height: 4px;
    background-color: red;
}
.dot-slider {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: #f8104d;
    box-shadow: 3px 3px black;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}
.control-panel:hover .dot-slider {
    opacity: 1;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}
.video-duration {
    justify-content: flex-end;
}